.nav-help
    %a{:href=>url_for('/get-started')}
        %img{:src => url_for('/images/icons/help.svg')}
        = l('Help')
%ul.nav2nd
    %li.trading-guide-link
        %a{:href => url_for('/resources/contract_guide')}= l('Trading Guide')
    %li.why-us-link
        %a{:href=>url_for('/why-us')}= l('Why Us?')
    %li.get-started-link
        %a{:href=>url_for('/get-started')}= l('Get Started')
    %li.tour-link
        %a{:href=>url_for('/tour')}= l('Tour')
    %li.webinars-link
        %a{:href=>'http://blog.binary.com/en/webinar/'}= l('Webinars')
    %li.blog-link
        %a{:href=>'http://blog.binary.com'}= l('Blog')
    %li.contact-link
        %a{:href=>url_for('contact')}= l('Contact Us')
