.nav-resources
    %a.pjaxload{:href => url_for('/resources')}
        %img{:src => url_for('/images/icons/resources.svg')}
        = l('Resources')
%ul.nav2nd
    %li.asset-index-link
        %a{:href=>url_for('/resources/asset_index')}= l('Asset Index')
    %li.trading-times-link
        %a{:href => url_for('/resources/trading_times')}= l('Trading Times')
    %li.pricing-table-link
        %a{:href=>url_for('/resources/pricing_table')}= l('Pricing Table')
    %li.rise-fall-table-link
        %a{:href=>url_for('/resources/rise_fall_table')}= l('Rise/Fall Table')
    %li.chart-application-link
        %a{:href=>url_for('/charting/application')}= l('Chart Application')
    %li.live-charts-link
        %a{:href=>url_for('/charting/livechart')}= l('Live Charts')
    %li.highcharts-link
        %a{:href => '//highcharts.binary.com'}= l('HighCharts')
